<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- META TAGS --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BurgerBoss</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {{!-- FOR CSS... IF YOU GET THERE --}}
    <link rel="stylesheet" type= "text/css" href="/burger/burger/public/assets/style/style.css">
    {{!-- <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/burger/burger/public/assets/js/app.js"></script>
</head>
<body>
    {{{ body }}}
</body>
</html>