body {
 background-image: url('https://vignette.wikia.nocookie.net/bobsburgerpedia/images/8/88/Bob%27s_Burgers_Restaurant.png/revision/latest?cb=20150920035740');
 background-attachment: fixed;   
color: black;
}